html{
    font-family: 'Days', sans-serif;
}
body{
    width: 900px;
    display: block;
    margin: 0 auto;
 
}

.heading_top {
    text-align: center;
}


/* Style the tab */
.tab {
    
    overflow: hidden;
    border: px solid #ccc;
    background-color: #000000;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: rgb(255, 255, 255);
    font-family: 'Days', sans-serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    background-color: rgb(255, 0, 0);
}

/* Создайте активный/текущий класс ссылок на вкладки */
.tab button.active {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
}

/* Оформите содержимое вкладки в стиле */
.tabcontent {
    font-family: 'AC Boucle', sans-serif;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul {
    list-style-type: square;
}

img {
    height: 312px;
}

a {
    font-family: 'Days';
    color: rgb(0, 0, 0);
}

a:hover {
    color: white;
    background-color: red;
}

a:visited{
    color: gray;
}

@font-face {
	font-family: 'Days';
	src: url('../fonts/days.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/days.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/days.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/days.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/days.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/days.svg#days') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'AC Boucle';
	src: url('../fonts/ac_boucle.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/ac_boucle.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/ac_boucle.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/ac_boucle.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/ac_boucle.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/ac_boucle.svg#ac_boucle') format('svg'); /* Chrome < 4, Legacy iOS */
}